textarea {
    height: 24rem;
}

#text-output {
    border: 1px solid #000;
}

textarea, #text-output, fieldset {
    min-width: 400px;
    padding: 4px;
    width: 90%;
}


.noun {
    border: 1px solid orange;
    padding: 1px 3px;
    background-color: lightyellow;
    cursor: alias;
}

.non-noun {
    cursor: cell;
}

.inverted {
    border: red 2px dashed;
}