textarea {
    height: 24rem;
}

#text-output {
    border: 1px solid #000;
}

textarea, #text-output {
    min-width: 400px;
    padding: 2px;
}


.noun {
    border: 1px solid orange;
    padding: 1px 3px;
    background-color: lightyellow;
    cursor: alias;
}

.non-noun {
    cursor: cell;
}

#parser-descriptions {
    margin-left: 2rem;
}