:root {
    --color-primary: #807b67;
    --color-secondary: #f8f7f6;
}

html, body {
  min-height: 100%;
  font-family: 'Noto Sans', sans-serif;
  margin: 4px;
  background: var(--color-secondary); /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, var(--color-secondary), var(--color-primary));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, var(--color-secondary), var(--color-primary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}